<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new Contact from <%= @contact.first_name %>!</p>
    <p>
    Contact details<br>
    --------------------------
    </p>
    <p>FirstName: <%= @contact.first_name %></p>
    <p>LastName: <%= @contact.last_name %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Phone: <%= @contact.phone_number %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @contact.message %></p>
  </body>
</html>